<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/compiled.css" />
  </head>
  <body>
    <h1 class="text-4xl"><%= title %></h1>
    <% if (currentUser) { %>
    <p>Welcome to <%= title %>, <%= currentUser.username %>.</p>
    <form method="delete" action="/login">
      <button type="submit">Log Out</button>
    </form>

    <form method="post" action="/messages" class="mt-4">
      <input type="text" name="text" />
      <input type="submit" value="post" />
    </form>
      <% if (messages.length) { %>
      <ul class="messages">
        <% messages.forEach(function(message) { %>
        <li>
          <% if (currentUser.canSeeNames) { %>
          <p class="inline"><%=message.user.username %>:
          <% } else { %>
          <p class="inline">???:
          <% } %>
          <%= message.text %></p>
        </li>
        <% }); %>
      </ul>
      <% } %>
    <% } else {%>
    <p>Please <a href="/signup">sign up</a> or <a href="/login">log in</a> to view messages.</p>
    <% } %>
  </body>
</html>
