<!doctype html>
<html>
  <%- include('partials/head.ejs') %>
  <body class="p-12">
    <h1 class="text-4xl text-blue-500 font-semibold mb-4"><%= title %></h1>
    <% if (currentUser) { %>
    <p class="text-2xl text-gray-700 mb-4">Welcome to <%= title %>, <%= currentUser.username %>.</p>

    <form method="post" action="/messages" class="mt-4 mb-4">
      <input type="text" name="text" class="border-2 border-gray-300 p-2 rounded mr-2" />
      <input type="submit" value="post" class="btn"/>
    </form>
      <% if (messages.length) { %>
      <ul class="list-none pl-5">
        <% messages.forEach(function(message) { %>
        <li class="mb-2">
          <% const textDecoration = currentUser.id === message.user.id ? ' underline' : '' %>
          <% const usernameColor = message.user.isAdmin ? 'text-amber-300' : '' %>
          <% if (currentUser.canSeeNames) { %>
            <p class="inline <%=usernameColor%> font-semibold px-2 py-0.5"><%=message.user.username %>
          <% } else { %></p>
            <p class="inline text-gray-800 font-semibold">???</p>
          <% } %>
          <p class="inline text-gray-500 px-2 py-0.5"><%=message.when %></p>
          <p class="inline <%=textDecoration%>"><%= message.text %></p>
        </li>
        <% }); %>
      </ul>
      <% } %>
      <form method="post" action="/login/out" class="mt-4">
        <button type="submit" class="btn">log out</button>
      </form>
    <% } else {%>
      <div class="pt-4">
        <p>Please <a href="/signup">sign up</a> or <a href="/login">log in</a> to view messages.</p>
      </div>
    <% } %>
    <% if (locals.error) { %>
      <%- include('partials/error.ejs', {error: error}) %>
    <% } %>
  </body>
</html>
